<div class="container-fluid">
    <div class="row p-3 position-relative">
        <div class="col-md-4"></div>
        <div class="col-md-4 position-absolute top-50 start-50 translate-middle" style="background-image: url('./img/footer.png')">
            <h3 class="fw-bolder text-center text-light pt-4 shadow-lg p-3 mb-5 rounded">{{title}}</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row p-5 center-mentor">
        <h2>Get in <span class="text-success text-opacity-25" style="display: inline">touch</span></h2>
        <div class="block" style="display: inline"></div>
        <form action="" class="col-md-6 p-4" novalidate>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Contact name">
                <label>Contact name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Street">
                <label>Street</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="City">
                <label>City</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Postcode">
                <label>Postcode</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Contact phone">
                <label>Contac phone</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Email">
                <label>Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Email">
                <label>Let's talk about your idea</label>
            </div>
            <div class="mb-3">
                <button class="dotted">
                    <i class="bi bi-upload"></i>
                    Upload Additional file
                </button>
            </div>
            <p class="fw-lighter">
                Attach file. File size of your documents shouldn't exceed 10MB.
            </p>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">I want to protect my data by singing an NDA.</label>
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
            <div class="contact-address">
                <div style="display: inline-block">
                    <i class="bi bi-telephone-fill"></i>
                    <span class="ms-2 fw-bolder">Phone</span>
                    <br>
                    <span class="ms-4 fw-lighter">0966628527</span>
                </div>
                <div style="display: inline-block" class="ms-5">
                    <i class="bi bi-envelope-fill"></i>
                    <span class="ms-2 fw-bolder">E-MAIL</span>
                    <br>
                    <span class="ms-4 fw-lighter">hieuhv203@gmail.com</span>
                </div>
                <div style="display: inline-block" class="ms-5">
                    <i class="bi bi-facebook"></i>
                    <span class="ms-2 fw-bolder">Facebook</span>
                    <br>
                    <span class="ms-4 fw-lighter">Hoàng Văn Hiếu</span>
                </div>
            </div>
        </form>
        <div class="col-md-6 p-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7435.357718408213!2d105.9483934207895!3d21.284175940512664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31351ab1295b213f%3A0x28fdf36a9a3bba72!2zTMO9IFZpw6puLCBIaeG7h3AgSMOyYSwgQuG6r2MgR2lhbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1676751023516!5m2!1svi!2s" width="100%" height="100%" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="block"></div>
</div>
<link rel="stylesheet" href="./css/contact_page.css">