<div class="container-fluid bg-secondary bg-gradient">
    <div class="row info">
        <div class="col-md-1"></div>
        <div class="col-md-10 position-absolute top-0 start-50 translate-middle">
            <div class="ticket m-auto p-4">
                <div class="card-image me-2">
                    <img src="./img/test.png" alt="" class="m-2">
                </div>
                <div class="ticket">
                    <h6 class="fw-bolder">Learn The Latest Skills</h6>
                    <p class="fw-lighter">
                        Contrary to popular belief,
                        Lorem Ipsum is not simply random text.
                        It has roots in a BC, making it over 2000 years old.
                    </p>
                </div>
            </div>
            <div class="ticket m-auto p-4">
                <div class="card-image me-2">
                    <img src="./img/exam.png" alt="" class="m-2">
                </div>
                <div class="ticket">
                    <h6 class="fw-bolder">Get ready for a Career</h6>
                    <p class="fw-lighter">
                        Contrary to popular belief,
                        Lorem Ipsum is not simply random text.
                        It has roots in a BC, making it over 2000 years old.
                    </p>
                </div>
            </div>
            <div class="ticket m-auto p-4">
                <div class="card-image p-2 me-2 mt-2">
                    <img src="./img/certification.png" alt="">
                </div>
                <div class="ticket">
                    <h6 class="fw-bolder">Earn a Certificate</h6>
                    <p class="fw-lighter">
                        Contrary to popular belief,
                        Lorem Ipsum is not simply random text.
                        It has roots in a BC, making it over 2000 years old.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="block"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="fw-bolder text-center text-warning">{{title}}</h2>
            <p class="text-center fw-lighter text-light">
                Lorem Ipsum is simply dummy text of the printing.
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="card col-md-4 p-2 position-relative m-auto" style="width: 24rem;">
            <img src="./img/pic1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p>
                    <span class="fw-light me-5">UX/UI Design</span>
                    <span class="me-3 ms-3"></span>
                    <span class="text-warning ms-5">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                    </span>
                </p>
                <h6 class="card-title fw-bolder">UX/UI Design for Beginners</h6>
                <p class="card-text text-warning fw-bolder">
                    $98
                </p>
                <hr>
                <div>
                    <i class="bi bi-clock"></i>
                    <span class="fw-light">22hr 30min</span>
                    <i class="bi bi-camera-video ms-4"></i>
                    <span class="fw-light">34 Courses</span>
                    <i class="bi bi-box-arrow-in-down ms-4"></i>
                    <span class="fw-light">250 Sales</span>
                </div>
                <a href="#" class="btn position-absolute top-100 start-50 translate-middle text-light fw-bolder">Join
                    Courses</a>
            </div>
        </div>
        <div class="card col-md-4 p-2 position-relative m-auto" style="width: 24rem;">
            <img src="./img/pic2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p>
                    <span class="fw-light me-5">UX/UI Design</span>
                    <span class="me-3 ms-3"></span>
                    <span class="text-warning ms-5">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                    </span>
                </p>
                <h6 class="card-title fw-bolder">UX/UI Design for Beginners</h6>
                <p class="card-text text-warning fw-bolder">
                    $98
                </p>
                <hr>
                <div>
                    <i class="bi bi-clock"></i>
                    <span class="fw-light">22hr 30min</span>
                    <i class="bi bi-camera-video ms-4"></i>
                    <span class="fw-light">34 Courses</span>
                    <i class="bi bi-box-arrow-in-down ms-4"></i>
                    <span class="fw-light">250 Sales</span>
                </div>
                <a href="#" class="btn position-absolute top-100 start-50 translate-middle text-light fw-bolder">Join
                    Courses</a>
            </div>
        </div>
        <div class="card col-md-4 p-2 position-relative m-auto" style="width: 24rem;">
            <img src="./img/pic3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p>
                    <span class="fw-light me-5">UX/UI Design</span>
                    <span class="me-3 ms-3"></span>
                    <span class="text-warning ms-5">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                    </span>
                </p>
                <h6 class="card-title fw-bolder">UX/UI Design for Beginners</h6>
                <p class="card-text text-warning fw-bolder">
                    $98
                </p>
                <hr>
                <div>
                    <i class="bi bi-clock"></i>
                    <span class="fw-light">22hr 30min</span>
                    <i class="bi bi-camera-video ms-4"></i>
                    <span class="fw-light">34 Courses</span>
                    <i class="bi bi-box-arrow-in-down ms-4"></i>
                    <span class="fw-light">250 Sales</span>
                </div>
                <a href="#" class="btn position-absolute top-100 start-50 translate-middle text-light fw-bolder">Join
                    Courses</a>
            </div>
        </div>
    </div>
    <div class="block-1"></div>
    <div class="row bg-image" style="background-image: url('./img/banner.png');">
        <div class="col-md-6 cover">
            <img src="./img/girl.png" alt="">
        </div>
        <div class="col-md-6 pb-5">
            <br><br><br>
            <h1 class="mt-5">Premium <span class="text-warning">Learning</span></h1>
            <h1>Experience</h1>
            <div class="mt-5 content">
                <div class="image-content p-2">
                    <img src="./img/heart.png" alt="">
                </div>
                <div style="display: inline-block">
                    <h3 class="fw-bolder">Easily Accessible</h3>
                    <span class="fw-lighter">Learnig Will fell Very Comfortable With Courslab.</span>
                </div>
            </div>
            <div class="mt-5 content">
                <div class="image-content p-2">
                    <img src="./img/jigsaw.png" alt="">
                </div>
                <div style="display: inline-block">
                    <h3 class="fw-bolder">Easily Accessible</h3>
                    <span class="fw-lighter">Learnig Will fell Very Comfortable With Courslab.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-1"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="fw-bolder text-light text-center">
                What Student's Say
            </h1>
            <p class="fw-lighter text-light text-center">
                Lorem Ipsum is simply dummy text of the printing.
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="card m-auto p-2" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text fw-lighter">
                    "Some quick example text to build on the card title and make up the bulk of the
                    card's content."
                </p>
            </div>
            <div style="display: inline-block">
                <img src="./img/per1.png" class="rounded-circle" width="47" height="47">
                <h6 class="fw-bolder text-info" style="display: inline-block">Hermione Granger</h6>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text fw-lighter">
                    "Some quick example text to build on the card title and make up the bulk of the
                    card's content."
                </p>
            </div>
            <div style="display: inline-block">
                <img src="./img/per2.png" class="rounded-circle" width="47" height="47">
                <h6 class="fw-bolder text-info" style="display: inline-block">Ginny Weasley</h6>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text fw-lighter">
                    "Some quick example text to build on the card title and make up the bulk of the
                    card's content."
                </p>
            </div>
            <div style="display: inline-block">
                <img src="./img/per3.png" class="rounded-circle" width="47" height="47">
                <h6 class="fw-bolder text-info" style="display: inline-block">Harry Potter</h6>
            </div>
        </div>
    </div>
    <div class="block-1"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="fw-bolder text-light text-center">
                Our Instructors
            </h1>
            <p class="fw-lighter text-light text-center">
                Lorem Ipsum is simply dummy text of the printing.
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="card p-2 m-auto col-md-4" style="width: 24rem;">
            <img src="./img/per4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sirius Black</h5>
                <p class="card-text">
                    Professor @George Brown College
                    <br>
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <span>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </span>
            </div>
        </div>

        <div class="card p-2 m-auto col-md-4" style="width: 24rem;">
            <img src="./img/per5.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aberforth Dumbledore</h5>
                <p class="card-text">
                    Professor @George Brown College
                    <br>
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <span>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </span>
            </div>
        </div>
        <div class="card p-2 m-auto col-md-4" style="width: 24rem;">
            <img src="./img/per6.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Neville Longbottom</h5>
                <p class="card-text">
                    Professor @George Brown College
                    <br>
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <span>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="block-1"></div>
    <aside class="row">
        <div class="col-md-2"></div>
        <div class="bg-image col-md-8"
             style="background-image: url('./img/footer.png'); -moz-background-size: 100% 100%; background-attachment: fixed">
            <h3 class="text-light text-center pt-4">
                Subscribe to our newsletter
            </h3>
            <p class="text-light text-center">
                Lorem Ipsum is simply dummy text of the printing.
            </p>
            <div class="send-mail">
                <input type="text" class="form-control position-absolute top-50 start-50 translate-middle"
                       placeholder="Email address">
                <button class="btn btn-success fw-bolder text-light">Send</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </aside>
</div>
<link rel="stylesheet" href="./css/home_page.css">